In [12]:
#imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import sklearn

In [13]:
df = pd.read_csv("top10s.csv")
df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  603 non-null    int64
 1   title       603 non-null    object
 2   artist      603 non-null    object
 3   top genre   603 non-null    object
 4   year        603 non-null    int64
 5   bpm         603 non-null    int64
 6   nrgy        603 non-null    int64
 7   dnce        603 non-null    int64
 8   dB          603 non-null    int64
 9   live        603 non-null    int64
 10  val         603 non-null    int64
 11  dur         603 non-null    int64
 12  acous       603 non-null    int64
 13  spch        603 non-null    int64
 14  pop         603 non-null    int64
dtypes: int64(12), object(3)
memory usage: 70.8+ KB

In [15]:
#extracting columns we will use to base classifications
#dropping unnecessary columns
df.drop(columns=['Unnamed: 0','title','artist','year','dB','dur','top genre'], inplace=True)
df

     bpm  nrgy  dnce  live  val  acous  spch  pop
0     97    89    67     8   80     19     4   83
1     87    93    75    52   64     24    23   82
2    120    84    76    29   71     10    14   80
3    119    92    70     8   71      0     4   79
4    109    84    64     9   43      2     4   78
..   ...   ...   ...   ...  ...    ...   ...  ...
598  104    66    61    20   16      1     3   75
599   95    79    75     7   61     21    12   75
600  136    76    53     9   65      7    34   70
601  114    79    60    42   24      1     7   69
602  150    44    70    13   23      6     6   67

[603 rows x 8 columns]